---

---

<div class="w-full h-[50vh]">
  <div class="w-full h-full flex items-center justify-center relative">
    <div
      class="w-full h-full bg-[url(/images/chess.png)] bg-cover bg-center blur-xs"
    >
    </div>
    <div
      class="w-full h-1/5 pointer-events-none bottom-0 absolute z-11 bg-gradient-to-t from-black to-transparent"
    >
    </div>
    <div class="absolute z-10">
      <span class="text-blue-400 text-8xl"> EGO: </span>
      <span class="text-red-400 text-8xl"> Solid </span>
    </div>
  </div>
</div>
